@font-face {
  font-family: Inter;
  src: url(../fonts/inter_cyrillic-regular.woff2) format('woff2'),
    url(../fonts/inter_cyrillic-regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/inter_cyrillic-700.woff2) format('woff2'),
    url(../fonts/inter_cyrillic-700.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}

:root {
  --green-bright: #B8FF20;
  --black: #18171A;
  --grey: #C0C0C0;
  --green: #CDF478;
  --white: #FFFFFF;
}

html {
  box-sizing: border-box;

  /* что бы убрать горизонтальный скролл при добавлении карты */
  position: relative;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: var(--black);
}

h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input, button, textarea {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  display: block;
  max-height: 100%;
  height: auto;
}

.container {
  max-width: calc(1180px + 72px + 72px);
  margin: 0 auto;
  padding: 0 72px;
}

/* header */

.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--white);
}

.header__container {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  align-items: center;
  gap: 15px;
}

.header__link-phone {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--green-bright);
  transition: color 0.3s ease-in-out;
}

.header__phone-number {
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.header__link-phone:hover,
.header__link-phone:hover .header__phone-number {
  color: var(--green);
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navigation__item {
  transition: color 0.3s ease-in-out;
}

.navigation__item:hover {
  color: var(--green);
}

/* main */
.hero {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 220px;
  padding-bottom: 120px;
  color: var(--white);
  margin-bottom: 60px;
}

.hero__title {
  font-weight: 700;
  font-size: 130px;
  line-height: 1;
  margin-bottom: 10px;
}

.hero__title-letter {
  color: var(--green-bright);
}

.hero__subtittle {
  font-size: 26px;
  margin-bottom: 60px;
}

.btn {
  width: 380px;
  height: 78px;
  font-weight: 700;
  padding: 24px 60px;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  font-size: 26px;
}

.hero__btn {
  background-color: var(--white);
  color: var(--black);
  transition: background-color 0.3s ease-in-out, border-color 0.1s ease-in-out;
}

.hero__btn:hover {
  background-color: var(--green);
}

.hero__btn:focus {
  border-color: var(--green);
}

.hero__btn:active {
  background-color: var(--green-bright);
}

.product {
  padding: 60px 0;
}

.product:nth-child(odd) .product__container {
  flex-direction: row-reverse;
}

.product__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 128px;
}

.product__content {
  max-width: 582px;
}

.product__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
}

.product__description {
  line-height: 1.5;
  margin-bottom: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.product__btn {
  background-color: var(--green-bright);
  color: var(--black);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.1s ease-in-out;
}

.product__btn:hover {
  background-color: var(--green);
}

.product__btn:focus {
  border-color: var(--black);
}

.product__btn:active {
  background-color: var(--black);
  color: var(--white);
}

.contacts_section {
  padding-top: 60px;
}

.contacts__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;

}

.contacts__wrap {
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.contacts__container {
  display: flex;
  align-items: center;
  padding-right: 0;
  padding-left: max(72px, calc((100% - 1180px)/2));
  max-width: none;
}

.contacts__column {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-right: 20px;
}

.contacts__office {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 3px;
  transition: color 0.3s ease-in-out;
}

.contacts__link svg {
  color: var(--green-bright);
  transition: color 0.3s ease-in-out;
}

.contacts__link:hover,
.contacts__link:hover svg {
  color: var(--green);
}


.social {
  display: flex;
  gap: 30px;
}

.social__link {
  color: var(--green-bright);
  transition: color 0.3s ease-in-out;
}

.social__link svg:hover {
  color: var(--green);

}

.social__link svg:active {
  color: var(--green);
  outline: 2px solid var(--green);
  outline-offset: 2px;
  border-radius: 50%;
}

.contacts__map-wrapper {
  flex-shrink: 1;
  width: calc(100% - 380px);
  height: 386px;
}

.contacts__map {
  width: 100%;
  height: 100%;
}

/* footer */

.footer {
  background-color: var(--black);
  padding-top: 60px;
  padding-bottom: 30px;
  color: var(--white);
}


.footer__logo {
  width: 160px;
  margin-bottom: 40px;
}

.footer__columns {
  display: flex;
  gap: 120px;
  margin-bottom: 18px;
}

.footer__column {
  max-width: 280px;
}

.footer__link, .contacts__link_footer {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.footer__link::after, .contacts__link_footer::after {
  content: '';
  width: 10%;
  height: 1px;
  background: var(--green-bright);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 22px;
  opacity: 0;
  transition-duration: 0.3s;
}

.footer__link:hover, .contacts__link_footer :hover {
  color: var(--green-bright);
}

.footer__link:hover::after, .contacts__link_footer:hover::after {
  opacity: 1;
  width: 100%;
}



.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.contacts__list_footer {
  gap: 10px;
  margin-bottom: 20px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 1.3;
}